.editor .btn:hover {
    cursor: pointer;
}

.emojies-list {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
}

.prev {
    justify-self: end;
}

.next {
    justify-self: start;
}

.btn-page:hover {
    color: red;
    cursor: pointer;
}

.emojies {
    display: block;
}

.emojies>*:hover {
    cursor: pointer;
    rotate: 30deg;
}

.line-edit {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.btn-lines {
    justify-self: end;
}

.btn-remove-line {
    justify-self: start;
}

.line-edit >*:not(input) {
    width: 3.5rem;
    height: 3.2rem;
    align-self: start;
}

.txt {
    width: 95%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    grid-column: 1/-1;
}

.line-edit>*:not(input):hover {
    border: 2px solid red;
}

.txt-edit {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 15px;
    justify-items: center;
}

.txt-edit >*:not(input) {
    width: 3.5rem;
    height: 3.2rem;
    align-self: center;
}

.btn-stroke {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.txt-edit .btn {
    width: 3.5rem;
    height: 3.2rem;
}

.txt-edit .list-fonts {
    grid-column: 1/4;
    border-radius: 15px;
    width: 90%;
    height: 70%;
    align-self: center;
}

.txt-edit .align {
    padding: 10px;
    width: 3.5rem;
    height: 3.2rem;
    border: 2px solid black;
}

.txt-edit .align:hover {
    cursor: pointer;
}

.txt-edit >*:hover {
    border: 2px solid red;
}

.shares {
    justify-self: center;
    display: flex;
    width: 95%;
    align-items: flex-end;
    justify-content: space-between;
}

.shares>*:not(.btn-upload) {
    background-color: inherit;
    border-radius: 1em;
    padding: 5px;
    border: 2px solid black;
    transition: .3s;
}

.btn-download {
    font-family: Arial;
    height: 29px;
}

.btn-share {
    margin-inline-end: 0;
}

.shares>*:not(.btn-upload):hover {
    cursor: pointer;
    background-color: red;
}

.shares a {
    text-decoration: none;
    color: black;
}

.btn-color:hover ,
.btn-stroke:hover {
    cursor: pointer;
    border: 2px solid red;
}

.btn-stroke {
    font-weight: bold;
}

.hidden-clr {
    background-color: white;
    border: white;
    position: absolute;
    bottom: 0;
    left: 60%;
    width: 1px;
    height: 1px;
    overflow: hidden;
}