.editor {
    position: relative;
    grid-column: 2;
}

.txt {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.editor .btn {
    margin-inline-end: 10px;
    height: 20px;
    width: 50px;
}

.editor .btn:hover {
    cursor: pointer;
    background-color: red;
}

.editor .align {
    height: 30px;
    width: 30px;
    margin-inline-end: 20px;
}

.editor .align:hover {
    cursor: pointer;
}

.line-edit {
    margin-bottom: 30px;
}

.shares {
    position: absolute;
    bottom: 0;
}

.shares > * {
    background-color: inherit;
    border-radius: 15px;
    padding: 5px;
    margin-inline-end: 20px;
    border: 2px solid black;
    transition: .3s;
}

.shares > *:hover {
    cursor: pointer;
    background-color: red;
}