.editor .btn:hover {
    cursor: pointer;
}

.emojies-list {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.prev {
    justify-self: end;
}

.next {
    justify-self: start;
}

.btn-page:hover {
    color: red;
    cursor: pointer;
}

.emojies {
    display: block;
}

.emojies>*:hover {
    cursor: pointer;
    rotate: 30deg;
}

.line-edit {
    margin-bottom: 0.53em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.txt {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    grid-column: 1/-1;
}

.line-edit>*:not(input):hover {
    border: 2px solid red;
}

.txt-edit {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.txt-edit .list-fonts {
    grid-column: 1/4;
    width: 100%;
}

.txt-edit .align {
    width: 50%;
    margin-inline-end: 20px;
}

.txt-edit .align:hover {
    cursor: pointer;
}

.shares {
    display: flex;
    align-items: flex-end;
}

.shares>*:not(.btn-upload) {
    background-color: inherit;
    border-radius: 1em;
    padding: 5px;
    margin-inline-end: 10px;
    border: 2px solid black;
    transition: .3s;
}

.shares>*:not(.btn-upload):hover {
    cursor: pointer;
    background-color: red;
}

.btn-color:hover ,
.btn-stroke:hover {
    cursor: pointer;
    border: 2px solid red;
}

.btn-stroke {
    font-weight: bold;
}

.hidden-clr {
    background-color: white;
    border: white;
    position: absolute;
    bottom: 0;
    left: 60%;
    width: 1px;
    height: 1px;
    overflow: hidden;
}