.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > .full {
    grid-column: 1 / -1;
}

.editor {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery-layout {
    display: grid;
    grid-template-columns: repeat(4 , minmax(auto , 1fr) );
    gap: 20px;
}