@import 'helpers.css';
@import 'mq.css';
@import 'header.css';
@import 'logo.css';
@import 'screen.css';
@import 'grid.css';
@import 'editor.css';
@import 'btn-toggle.css';

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
}

.editor {
    width: 90vw;
}

.canvas-container {
    width: 100%;
}

#edit-canvas {
    background-color: antiquewhite;
}

.gallery-content img {
    width: 100%;
}

.gallery-content img:hover {
    cursor: pointer;
    outline: 3px solid red;
}

.hidden {
    display: none;
}

.search-container {
    margin-bottom: 50px;
}

.words-container {
    margin-inline-start: 50px;
    display: inline-block;
}

.words-container p {
    font-weight: bold;
    color: red;
    display: inline-block;
    margin-right: 40px;
}

.words-container p:hover {
    cursor: pointer;
    color: black;
}