@import 'helpers.css';
@import 'mq.css';
@import 'header.css';
@import 'logo.css';
@import 'screen.css';
@import 'grid.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.editor {
    width: 90vw;
}

#edit-canvas {
    background-color: antiquewhite;
}

.gallery-content img {
    width: 100%;
}

.gallery-content img:hover {
    cursor: pointer;
    border: 3px solid red;
}

.hidden {
    display: none;
}