@media (max-width: 650px) {
    .main-layout {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 350px) 1fr;
    }

    .main-nav {
        display: none;
    }

    .logo {
        font-size: 1.1em;
    }

    .gallery-layout {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        gap: 20px;
    }

    .search-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .btn-lang {
        display: block;
    }

    #edit-canvas {
        width: 100%;
        height: 18em;
    }

    .canvas-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .editor {
        width: 100%;
        gap: 20px;
    }

    .emojies>* {
        background-color: inherit;
        border: none;
        font-size: 1.3em;
        transition: .4s;
    }

    .line-edit>*:not(input) {
        background-color: inherit;
        border-radius: 10px;
        margin-inline-end: 15px;
        font-size: 1.3em;
        width: 50%;
    }

    .txt-edit>*:not(input) {
        background-color: inherit;
        border-radius: 10px;
        font-size: 1.3em;
        width: 50%;
    }

    .btn-page {
        transition: .5s;
        font-size: 1em;
        background-color: inherit;
        border: none;
    }

    .txt-edit .align {
        width: 50%;
        margin-inline-end: 1.2em;
    }

    .edit-meme {
        display: block;
    }
}

@media (min-width: 650px) {
    .main-layout {
        display: grid;
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 1000px) minmax(20px, 1fr);
    }

    .logo {
        font-size: 1.5rem;
    }

    .menu-btn {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .gallery-layout {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: 20px;
    }

    .search-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    }

    .editor {
        display: grid;
        width: 100%;
        gap: 20px;
        justify-content: center;
    }

    .edit-meme {
        gap: 12px;
        display: grid;
    }

    .emojies>* {
        background-color: inherit;
        border: none;
        font-size: 3em;
        transition: .4s;
    }

    .line-edit>*:not(input) {
        background-color: inherit;
        border-radius: 10px;
        font-size: 2rem;
        width: 40%;
    }

    .txt-edit>*:not(input) {
        background-color: inherit;
        border-radius: 10px;
        font-size: 1.8rem;
        width: 70%;
    }

    .canvas-container {
        height: 28em;
        width: 100%;
    }

    .btn-page {
        transition: .5s;
        font-size: 1.2em;
        background-color: inherit;
        border: none;
    }
}

@media (min-width: 950px) {
    .main-layout {
        display: grid;
        grid-template-columns: 1fr 900px 1fr;
    }

    body {
        justify-content: center;
    }

    .gallery-layout {
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 1fr));
        gap: 20px;
    }

    .search-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    }

    .btn-page {
        transition: .5s;
        font-size: 2em;
        background-color: inherit;
        border: none;
    }

    .editor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .canvas-container {
        justify-content: center;
    }
}

@media (min-width: 1110px) {
    .main-layout {
        display: grid;
        grid-template-columns: 1fr 1050px 1fr;
    }

    .gallery-layout {
        display: grid;
        grid-template-columns: repeat(5, minmax(auto, 1fr));
        gap: 20px;
    }

    .canvas-container {
        height: 100%;
        width: 100%;
    }
}